.player{
	display: block;
	width: 500px;
	position: relative;
}
.status-bar {
	width: 100%;
	height: 20px;
	background-color: #00f;
	padding: 10px;
	position: absolute;
}

.progress{
	height: 20px;
	background-color: #000;
	width: 100%;
}

.indicator{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #f00;
	margin-top: -5px;
}