@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
	background-color: #A0D7FE;
}
.mainHeader{
	font-family: "Montserrat";
	height: 400px;
	position: absolute;
	left : 0px;
	right: 0px;
	top:0px;
	background-color: #36A8FC;
	text-align: center;
	line-height: 100px;
	color:#fff;
}
.mainHeader > h1{
	font-size: 15em;
}
.player{
	width: 720px;
	height: auto;
	margin: 0 auto;
}
.content{
	font-family: "Montserrat";
	margin: 0 auto;
	margin-top:400px;
	width: 800px;
	padding: 15px;
}
.content > h1, h2 ,h3 ,h4 ,h5, h6{
	text-align: center;
} 
footer{
	font-family: "Montserrat";
	text-align: center;
}